{

"task_settings":[
{
"name":"GetUVSSCameraID",
"file_input":"resources/GetUVSSCameraID.input",
"file_output":"GetUVSSCameraID.output",
"input_params":[
"type",

"deviceip",
"username",
"password",
"expect_return",
"errcode",
"corcode"
],
"output_params":[
"type",
"deviceip",
"username",
"password",
"expect_return",
"errcode",
"corcode",
"return_value",
"return_deviceid",
"return_result"

]
},
{
"name":"GetUVSSCameraInfo",
"file_input":"resources/GetUVSSCameraInfo.input",
"file_output":"GetUVSSCameraInfo.output",
"input_params":[
"type",

"deviceip",
"username",
"password",
"expect_return",
"errcode",
"corcode"
],
"output_params":[
"type",
"deviceip",
"username",
"password",
"expect_return",
"errcode",
"corcode",
"return_value",
"return_delay_times",
"return_product",
"return_region",
"return_remain_number",
"return_result"
]
},
{
"name":"GetServerIPOfUVSSCamera",
"file_input":"resources/GetServerIPOfUVSSCamera.input",
"file_output":"GetServerIPOfUVSSCamera.output",
"input_params":[
"type",

"deviceip",
"username",
"password",
"expect_return",
"errcode",
"corcode"
],
"output_params":[
"type",
"deviceip",
"username",
"password",
"expect_return",
"errcode",
"corcode",
"return_value",
"return_serverip",
"return_result"
]
},
{
"name":"ChangeServerIPOfUVSSCamera",
"file_input":"resources/ChangeServerIPOfUVSSCamera.input",
"file_output":"ChangeServerIPOfUVSSCamera.output",
"input_params":[
"type",

"deviceip",
"username",
"password",
"serverip_new",
"expect_return",
"errcode",
"corcode"
],
"output_params":[
"type",
"deviceip",
"username",
"password",
"serverip_new",
"expect_return",
"errcode",
"corcode",
"return_value",
"return_result"
]
},
{
"name":"CheckUVSSCommunityAuthority",
"file_input":"resources/CheckUVSSCommunityAuthority.input",
"file_output":"CheckUVSSCommunityAuthority.output",
"input_params":[
"type",

"deviceip",
"username",
"password",
"expect_return",
"errcode",
"corcode"
],
"output_params":[
"type",
"deviceip",
"username",
"password",
"expect_return",
"errcode",
"corcode",
"return_value",
"return_result"
]
},
{
"name":"RestartUVSSCamera",
"file_input":"resources/RestartUVSSCamera.input",
"file_output":"RestartUVSSCamera.output",
"input_params":[
"type",

"deviceip",
"username",
"password",
"expect_return",
"errcode",
"corcode"
],
"output_params":[
"type",
"deviceip",
"username",
"password",
"expect_return",
"errcode",
"corcode",
"return_value",
"return_result"
]
},
{
"name":"uploadimage",
"file_input":"resources/uploadimage.input",
"file_output":"uploadimage.output",
"input_params":[
"type",
"deviceip",
"username",
"password",
"port",
"trigger",
"serverip_new",
"expect_return",
"errcode",
"corcode"
],
"output_params":[
"type",
"deviceip",
"username",
"password",
"port",
"trigger",
"serverip_new",
"expect_return",
"errcode",
"corcode",
"return_value",
"return_result"
]
}

]
,
"tasks_to_do":[
  "GetUVSSCameraID",
  "GetUVSSCameraInfo",
  "GetServerIPOfUVSSCamera",
  "ChangeServerIPOfUVSSCamera",
  "CheckUVSSCommunityAuthority",
  "RestartUVSSCamera",
  "uploadimage"
]




}
